<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
  </configSections>
  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>
      <add assembly="Nancy" />
    </assemblies>
    <namespaces>
      <add namespace="Nancy.ViewEngines" />
    </namespaces>
  </razor>
</configuration>
