@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyDemo.Csharp.Model.BushModel>
@{
    ViewBag.Title = "Add bush page";
    Layout = "Master.cshtml";
}

@section bushes

<h1>Welcome to the add bush page</h1>
<form action="/bushes/add/" method="post">
    <table>
        <tr>
            <td>Id</td>
            <td>
                <input type="text" name="Id" value="@Model.Id" /></td>
        </tr>
        <tr>
            <td>Genus</td>
            <td>
                <input type="text" name="Genus" value="@Model.Genus" /></td>
        </tr>
    </table>
    <input type="submit" value="Add new" />
</form>
