@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyDemo.Csharp.Model.BushesModel>
@{
    ViewBag.Title = "User page";
    Layout = "Master.cshtml";
}

@section bushes
         
<div id="content">
    <div class="post">
        <h1>Welcome to the bushes page</h1>
        <p>There are @Model.NumberOfBushes trees in this collection.</p>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            @foreach (var bush in Model.Bushes)
            {
                <tr>
                    <td>@bush.Id</td>
                    <td><a href="/bushes/@bush.Id">@bush.Genus</a></td>
                </tr>
            }
        </table>
    </div>
</div>
<div id="sidebar">
    <ul>
        <li><a href="/bushes/add/">Add a bush</a></li>
    </ul>
</div>

