@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyDemo.Csharp.Model.TreesModel>
@{
    ViewBag.Title = "Trees page";
    Layout = "Master.cshtml";
}

@section trees

<h1>Welcome to the trees page</h1>
<p>There are @Model.NumberOfTrees trees in this collection.</p>

@Html.Partial("TreesTable", Model.Trees)
