@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyDemo.Csharp.Model.UserModel>
@{
    ViewBag.Title = "Add user image page";
    Layout = "Master.cshtml";
}

@section users

<h1>Welcome to the add user image page</h1>
<table>
    <tr>
        <td>Id</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>RealName</td>
        <td>@Model.RealName</td>
    </tr>
    <tr>
        <td>Password</td>
        <td>@Model.Password</td>
    </tr>
</table>
<form action="/users/userimageupload/@Model.Id" method="post" enctype="multipart/form-data">
    <input name="upload" type="file" size="40" />
    <input type="submit" value="Post!" />
</form>
